<div class="container">
  <%=render "layouts/error_explanation", model: @user %>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>
      <%= form_with model:@user, url:user_path(@user.id), local:true do |f| %>
        <div class="form-group">
          <label for="user_name">Name</label>
          <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Name"%>
        </div>
        <div class="form-group">
          <label for="user_image">Image</label>
          <%= f.attachment_field :profile_image, class:"form-control-file" %>
        </div>
        <div class="form-group">
          <label for="user_introduction">Introduction</label>
          <%= f.text_area :introduction, autofocus: true, class:"form-control", placeholder:"Introduction" %>
        </div>
         <div class="field">
          <%= f.label :postal_code %><br />
          <%= f.text_field :postal_code, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :prefecture_code %><br />
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :street %><br />
          <%= f.text_field :street, autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.submit "Update User",class:"btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>