<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/user_info", user: @user %>
      <%= render "relationships/chat_room_form", user: @user, is_room: @is_room, room: @room, entry: @entry %>
      <%= render "layouts/new_book", new_book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render "layouts/book_table", books: @books%>
      <%= render "record", user: @user %>
      <%= render "chart", user: @user %>
      <%= render "post_num",user: @user %>
    </div>
  </div>
</div>
