<h2 class="mt-3">New book</h2>
<div>
  <%= form_with model: new_book, url: books_path, local:true do |f| %>
    <div class="form-group">
      <label for="book_title">Title</label>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    <div class="form-group">
      <label for="book_opinion">Opinion</label>
      <%= f.text_area :body, class:"form-control" %>
    </div>
    <div class="form-group">
      <label for="book_category">Category</label>
      <%= f.text_field :category, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :tag_list, "タグ(,で複数指定できます)" %>
      <%= f.text_field :tag_list, value: new_book.tag_list.join(',') ,class:"form-control tag_form" %>
    </div>
    <div class="form-group" id="evaluate_stars">
      <label>評価</label>
    </div>
    <div class="form-group">
      <%= f.submit "Create Book", class:"btn btn-success" %>
    </div>
  <% end %>
</div>

<script>
  // jqueryを＄として決めちゃう部分
  // ページ更新でtag-it発火
  // document.readyだと初回リロードのみなのでon('turbolinks:load'")
  $(document).on('turbolinks:load',function() {
    $(".tag_form").tagit({  // 指定のセレクタ( 今回は、:tag_list の text_field )に、tag-itを反映
      tagLimit:10,         // タグの最大数
      singleField: true,   // タグの一意性
   // availableTags: ['ruby', 'rails', ..]  自動補完する一覧を設定できる(※ 配列ならok)。今回は、Ajax通信でDBの値を渡す(後述)。
    });
    let tag_count = 10 - $(".tagit-choice").length    // 登録済みのタグを数える
    $(".ui-widget-content.ui-autocomplete-input").attr(
      'placeholder','あと' + tag_count + '個登録できます');
  })

  // タグ入力で、placeholder を変更
  $(document).on("keyup", '.tagit', function() {
    let tag_count = 10 - $(".tagit-choice").length    // ↑ と同じなので、まとめた方がいい。
    $(".ui-widget-content.ui-autocomplete-input").attr(
    'placeholder','あと' + tag_count + '個登録できます');
  });

  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'book[evaluation]' ,//登録するモデル名とカラム名を記述
    half: true
  });
</script>